<!doctype html>
<html>
<head>
<title>rebrow</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="re">re</span>brow</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        	{% if request.path != "/" %}
        		<li 
        		{% if url_for("server_db", host=host, port=port, db=db) == request.path %}
          	class="active"
          	{% endif %}
          	><a href="/{{ host }}:{{ port }}/{{ db }}/">Server Status</a></li>

          	<li
          	{% if url_for("keys", host=host, port=port, db=db) in request.path %}
          	class="active"
          	{% endif %}
          	><a href="/{{ host }}:{{ port }}/{{ db }}/keys/">Keys</a></li>

            <li
            {% if url_for("pubsub", host=host, port=port, db=db) in request.path %}
            class="active"
            {% endif %}
            ><a href="/{{ host }}:{{ port }}/{{ db }}/pubsub/">PubSub</a></li>
          {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container">

    {% for category, message in get_flashed_messages(with_categories=True) %}
    	{% if category == "info" %}
      <div class="alert alert-success alert-dismissible" role="alert">
      	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      	{{ message }}
    	{% elif category == "error" %}
      <div class="alert alert-danger alert-dismissible" role="alert">
      	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      	{{ message }}
      {% else %}
      <div class="alert alert-warning alert-dismissible" role="alert">
      	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      	{{ message }}
      {% endif %}
    </div>
    {% endfor %}
    {% block body %}{% endblock %}
  </div>

  <div class="footer">
    <div class="container">
    	<div class="row">
				<div class="col-md-9">
      		<span class="logo"><span class="re">re</span>brow</span> is free software under the terms of the MIT license. Contribute on <a href="https://github.com/marians/rebrow/" target="_blank">GitHub</a>.
      	</div>
      	<div class="col-md-3">
      		Duration: {{ "%.3f"|format(duration*1000) }} Millis
      	</div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script>
  $(function () {
  	$('#serverstatus-tabs a').click(function (e) {
		  e.preventDefault()
		  $(this).tab('show');
		});
    if ($(".pubsub-messages").length) {
      var counter = 0;
      var source = new EventSource("api/");
      source.onmessage = function(event) {
        counter++;
        var data = JSON.parse(event.data);
        $(".pubsub-messages tbody").prepend("<tr><td>"+ counter +"</td><td><code>"+ data.pattern +"</code></td><td><code>"+ data.type +"</code></td><td><code>"+ data.channel +"</code></td><td><code>"+ data.data +"</code></td></tr>");
        // truncate list to 20 items max
        $(".pubsub-messages tbody > tr:eq(20)").remove();
      };
    }
  });
  
  </script>
</body>
</html>
