{% extends "layout.html" %}
{% block body %}
	
	<div class="row">

		<div class="col-md-6 col-md-offset-3">

			<h3>Connect to your Redis database</h3>

			<div class="well">
			

				<form role="form" action="./" method="POST" class="form-horizontal">

					<div class="form-group">
						<label for="host" class="col-sm-3">Redis Host:</label>
						<div class="col-sm-9">
							<ul style="list-style-type:none;padding: 0px;">
							<li><b>Datamanager</b></li>
							<li><a href="/prd-des-engineering-redis.des.mdx.med:6379/1/">prd-des-engineering-redis/1 Datamanager [production]</a></li>
							<li><a href="/prd-des-engineering-redis.des.mdx.med:6379/2/">prd-des-engineering-redis/2 Datamanager [qa]</a></li>
							<li><a href="/prd-des-engineering-redis.des.mdx.med:6379/3/">prd-des-engineering-redis/3 Datamanager [dev]</a></li>
							<li><a href="/prd-des-engineering-redis.des.mdx.med:6379/4/">prd-des-engineering-redis/4 Datamanager [uat]</a></li>
							<li><b>Damalo</b></li>
							<li><a href="/prd-des-engineering-redis.des.mdx.med:6379/5/">prd-des-engineering-redis/5 Damalo (redbeat) [production]</a></li>
							<li><a href="/prd-des-engineering-redis.des.mdx.med:6379/9/">prd-des-engineering-redis/9 Damalo (celery) [production]</a></li>
							<li><a href="/prd-des-engineering-redis.des.mdx.med:6379/6/">prd-des-engineering-redis/6 Damalo (redbeat) [qa]</a></li>
							<li><a href="/prd-des-engineering-redis.des.mdx.med:6379/7/">prd-des-engineering-redis/7 Damalo (redbeat) [dev]</a></li>
							<li><b>CRM</b></li>
							<li><a href="/prd-des-engineering-redis.des.mdx.med:6379/8/">prd-des-engineering-redis/8 CRM (celery) [production]</a></li>
							<li><b>Sentry</b></li>
							<li><a href="/prd-des-engineering-redis.des.mdx.med:6379/10/">prd-des-engineering-redis/10 Sentry (celery) [production]</a></li>
							<li><b>royal-dex</b></li>
							<li><a href="/prd-des-royal-redis.des.mdx.med:6379/0/">prd-des-royal-redis/0 royal-dex (celery) [production]</a></li>
							</ul>
						</div>
					</div>

					<div class="form-group">
						<label for="host" class="col-sm-3">Host:</label>
						<div class="col-sm-9">
							<input id="host" name="host" value="localhost" class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<label for="port" class="col-sm-3">Port:</label>
						<div class="col-sm-9">
							<input id="port" name="port" type="number" value="6379" class="form-control" size="6" style="width: 100px"/>
						</div>
					</div>

					<div class="form-group">
						<label for="db" class="col-sm-3">Database ID:</label>
						<div class="col-sm-9">
							<input id="db" name="db" type="number" value="0" class="form-control" size="3" style="width: 50px"/>
							<p class="help-block">If unsure, use 0 (zero).</p>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button type="submit" class="btn btn-default btn-primary">Connect</button>
						</div>
					</div>
				</form>
			</div>
			
		</div>
	</div>

{% endblock %}
